-var addMin = (dev == true) ? "" : ".min"

-var tugboatStack = ["Javascript", "HTML", "SASS", "D3", "jQuery", "Python", "Jinja2", "Typekit"]
-var subrosaStack = ["Javascript", "HTML", "SASS", "jQuery", "HAML", "Jade", "Ruby on Rails", "Node", "Express", "Word Press", "Big Cartel", "PHP", "Git"]
-var dailybeastStack = ["Javascript", "jQuery", "HTML", "CSS", "Ruby on Rails", "SVN"]
-var schematicStack = ["Javascript", "jQuery", "HTML", "CSS", "Objective C", "Silverlight 1.0", "PHP", "JSP", "SVN", "CVS"]
-var razorfishStack = ["Javascript", "HTML", "CSS", "ASP", "Teamsite", "IW-Perl"]
-var bay9Stack = ["HTML", "CSS", "Perl", "CGI", "mySQL"]

mixin taglist(stack, company)
    ul(class="tags tags--#{company}")
        each val in stack
            li(class="tags__item tags__item--#{company}")=val

mixin imglist(projects, company)
    ul.imageList
        each val in projects         
            li.imageList__item
                figure(class="imageList__figure all-#{company} s-#{val.id}")
  
                h3.imageList__title 
                    span #{val.name} 

                    if val.link
                        a(href="#{val.link}", target="_blank", class="imageList__more cc-eye", title="visit") Visit 
                    if val.detail
                        a(href="#{val.detail}.html", class="imageList__more cc-pictures", target="_blank", title="details") Detail 
                    if val.gitsample 
                        a(href="#{val.gitsample}", class="imageList__more cc-github", target="_blank", title="code sample") Code  

                if val.stack 
                    +taglist(val.stack)

                if val.info 
                    p.imageList__desc #{val.info}

mixin workHeading(current)
    header 
        .content 
            h2 
                span #{current.name} 
                if current.link
                    a(href="#{current.link}", target="_blank", class="cc-eye", title="visit") Visit 
                if current.detail
                    a(href="#{current.detail}.html", class="cc-pictures", target="_blank", title="details") Detail 

            p.title #{current.title}, #{current.time}
            p.desc #{current.desc}

            if current.stack 
                +taglist(current.stack, current.id)
               

doctype html
html(lang="en")
    head
        meta(charset="utf-8", http-equiv="X-UA-Compatible", content="IE=edge,chrome=1") 
        title Julia Yu Portfolio
        meta(name="description", content="Julia Yu Portfolio")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/main"+ addMin +".css")

    body 
        .content
            h1
                |Portfolio
                span: a(href=".", class="deemphasize") Julia Yu

        article.tugboat
            +workHeading(data.tugboat)
                    
        article.subrosa
            +workHeading(data.subrosa)

            .content
                +imglist(data.subrosa.projects, "subrosa")


        article.dailybeast
            +workHeading(data.dailybeast)
         
            ul.duoList
                li
                    h3: span Newsweek &amp; The Daily Beast
                    figure: img(src="img/dailybeast.png" alt="newsweek dailybeast logo" width="480" height="220")
                    
                li
                    h3 Andrew Sullivan's The Dish 
                    figure: img(src="img/thedish.png" alt="andrew sullivan the dish logo" width="480" height="220")

        article.schematic
            +workHeading(data.schematic)

            .content
                +imglist(data.schematic.projects, "schematic")
                    
        article.razorfish
            +workHeading(data.razorfish)
        
        article.bay9
            +workHeading(data.bay9)

        



