-var addMin = (dev == true) ? "" : ".min"

mixin taglist(stack, company)
    ul(class="tags tags--#{company}")
        each val in stack
            li(class="tags__item")=val

mixin imglist(projects, company, w, h)
    ul(class="imageList imageList--#{company}")
        each val in projects         
            li(class="imageList__item")
                img(src="img/thumb/#{company}/#{val.id}.png", alt="#{val.name} image", width="#{w}", height="#{h}", class="imageList__img")
                h3.imageList__title 
                    span #{val.name} 
                    if val.link
                        a(href="#{val.link}", target="_blank", class="iconLink cc-external", title="visit") Visit 
                    if val.detail
                        a(href="#{val.detail}.html", class="iconLink cc-pictures", target="_blank", title="details") Detail 
                    if val.gitsample 
                        a(href="#{val.gitsample}", class="iconLink cc-github", target="_blank", title="code sample") Code  

                if val.stack 
                    +taglist(val.stack, company)

                if val.info 
                    p.imageList__desc #{val.info}

mixin workHeading(current)
    header(class="workheader workheader--#{current.id}")
        .content
            .content__inner
                h2(class="workheader__title")
                    span #{current.name} 
                p.title #{current.title}, #{current.time}
                if current.stack 
                    +taglist(current.stack, current.id)
                p.desc #{current.desc}

mixin companyArticle(company, codata)
    article(class="company #{company}")
        +workHeading(codata)
        if codata.projects 
            .content
                +imglist(codata.projects, company, codata.imgW, codata.imgH)

doctype html
html(lang="en")
    head
        meta(charset="utf-8", http-equiv="X-UA-Compatible", content="IE=edge,chrome=1") 
        title Julia Yu Portfolio
        meta(name="description", content="Julia Yu Portfolio")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/main"+ addMin +".css")

    body 
        .content
            h1.pageTitle
                span Portfolio
                a(href=".", class="pageTitle__link") Julia Yu

        each company in data
            +companyArticle(company.id, company)


        



